extends _layout/master/_master

block body
  .t-home(
  id='js-t-home',
  class='h-abs-bg')

    //- Header (top/left)
    header.t-home__header

      .t-home__header-container(
      class='h-table')
        .t-home__header-content(
        class='h-table__cell')

          h2.t-home__top Lorem ipsum

          h1.t-home__title
            span Estebanco
            span Dolor Sit Amet

          a.t-home__bottom(
          href='mailto:esteban@fugitivepixel.com',
          title='') esteban@fugitivepixel.com

    //- Carousel/Hero (bottom/right)
    //- is-bullets
    .t-home__carousel(
    id='js-hc',
    class='')
      .t-home__carousel-content(
      class='h-abs-center')

        //- Carousel navigation
        .t-home__carousel-nav(
        class='h-abs-left-top')
          span.t-home__carousel-nav__bt.t-home__carousel-nav__bt--arrow
            span(class='h-abs-center')
            span(class='h-abs-center')
          span.t-home__carousel-nav__bt.t-home__carousel-nav__bt--arrow.t-home__carousel-nav__bt--arrow-next
            span(class='h-abs-center')
            span(class='h-abs-center')
          span.t-home__carousel-nav__bt.t-home__carousel-nav__bt--all(
          id='js-hc__bt-bullets')
            span(class='h-abs-center')
            span(class='h-abs-center')
            span(class='h-abs-center')

        //- Carousel items
        .t-home__carousel-items(class='h-abs-center')

          each item, i in page.home.carousel
            //- is-open
            .t-home__carousel-item(
            class='h-abs-center',
            class='js-hc__item',
            class=`${i == 0?"is-active":""}`)

              .t-home__carousel-item__abstract(class='h-abs-full')
                .t-home__carousel-item__image(
                class='h-abs-center h-abs-bg',
                style=`background-image:url(${item.img_src})`)

                span.t-home__carousel-item__number=item.number

                span.t-home__carousel-item__line-top(class='h-abs-center-top')
                span.t-home__carousel-item__line-bottom(class='h-abs-center-bottom')

                p.t-home__carousel-item__desc-top(
                class='h-abs-center-top',
                class='js-hc__bt-item-open') Read more
                p.t-home__carousel-item__desc-bottom(class='h-abs-center-bottom')=item.title

              .t-home__carousel-item__detail(
              class='h-abs-full',
              class='s-master')

                span.t-home__carousel-item__detail-close(
                class='js-hc__bt-item-close')
                !=item.detail

        //- Carousel list (bullets)
        .t-home__carousel-bullets(class='h-table')
          ul(class='h-table__cell'): each item, i in page.home.carousel
            li.t-home__carousel-bullets__item(
            class=`${i == 0?"is-active":""}`)
              span=item.number
              span=item.title
          span.t-home__carousel-item__line-top(class='h-abs-center-top')
          span.t-home__carousel-item__line-bottom(class='h-abs-center-bottom')

          p.t-home__carousel-item__desc-bottom.t-home__carousel-item__desc-bottom--bullets(
          class='h-abs-center-bottom') lorem ipsum

