nav.l-nav
  .l-nav__content.l-nav__content--front(class='h-table')
    .l-nav__links(class='h-table__cell')
      a.l-nav__link(
      class='js-hxa',
      class='is-active'
      href='/',
      title='Home')
        span.l-nav__link__bg
        span.l-nav__link__text Home

      a.l-nav__link(
      class='js-hxa',
      href='/experiments',
      title='Experiments')
        span.l-nav__link__bg
        span.l-nav__link__text Experiments

span.l-nav-toggle(id='js-bt-nav')
  span.h-abs-center
  span.h-abs-center
  span.h-abs-center