doctype html
html( lang='en' )

  head
    include head/_head

  body
    include svgs/_svgs

    nav.l-nav: ul
      li: a(class='js-hxa' href='/', title='Home') Home
      li: a(class='js-hxa' href='/about', title='About') About

    main.l-container

      span.l-nav-toggle
        span.h-abs-center
        span.h-abs-center
        span.h-abs-center

      .l-container__handler(id='js-l-container__handler')

        .t-home(
        id='js-t-home',
        class='h-abs-bg')
          header.t-home__header
            .t-home__header-container(class='h-table')
              .t-home__header-content(class='h-table__cell')

                h2.t-home__top Lorem ipsum

                h1.t-home__title
                  span Estebanco
                  span Dolor Sit Amet

                a.t-home__bottom(
                href='mailto:esteban@fugitivepixel.com',
                title='') esteban@fugitivepixel.com
          .t-home__slider
            .t-home__slider-content(class='h-abs-center')

              .t-home__slider-nav(class='h-abs-left-top')
                span.t-home__slider-nav__bt
                  span(class='h-abs-center')
                  span(class='h-abs-center')
                span.t-home__slider-nav__bt
                  span(class='h-abs-center')
                  span(class='h-abs-center')

              .t-home__slider-item(class='h-abs-center')
                .t-home__slider-item__image(
                class='h-abs-center h-abs-bg',
                style='background-image:url(assets/images/temp.jpg)')

                span.t-home__slider-item__number 03

                span.t-home__slider-item__line-top(class='h-abs-center-top')
                span.t-home__slider-item__line-bottom(class='h-abs-center-bottom')

                p.t-home__slider-item__desc-top(class='h-abs-center-top') Read more
                p.t-home__slider-item__desc-bottom(class='h-abs-center-bottom') lorem ipsum
        block body

    //- include _loader

    include scripts/_scripts